.menu__button
	margin: 0 auto
	width: 256px
	height: 44px
	font-weight: 700
	font-size: 14px
	line-height: 16px
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	color: #259609
	text-transform: uppercase
	border: 1px solid #259609
	border-radius: 3px